[submodule "lua"]
	path = lua
	url = https://github.com/jaredkrinke/lua
[submodule "md4c"]
	path = md4c
	url = https://github.com/jaredkrinke/md4c.git
[submodule "etlua"]
	path = etlua
	url = https://github.com/leafo/etlua.git
[submodule "chtml"]
	path = chtml
	url = https://github.com/jaredkrinke/chtml.git
[submodule "lpeg"]
	path = lpeg
	url = https://github.com/jaredkrinke/lpeg.git
[submodule "scintillua"]
	path = scintillua
	url = https://github.com/orbitalquark/scintillua.git
